/* Various tweaks on core elements */
html {
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", Georgia, serif;
    text-rendering: optimizeLegibility;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: whitesmoke; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: 1px solid darkgray;
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: darkred;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .profilePic {
    width: 200px;
    height: 200px;
    margin: 8px 25px 8px 25px;
}

.sidenav .profilePic img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border: 1px solid darkgray;
    border-radius: 100px;
}

/* Open button */
#menuButton {
    display: block;
	position: fixed;
	z-index: 999;
	left: 40px;
	top: 60px;
    color: black;
}

#menuButton:hover,
#menuButton:focus,
#menuButton:active {
    color: darkred;
}

#main {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Admin header */
#adminPannel {
    width: 100%;
    height: 50px;
    color: white;
    background-color: darkred;
    position: fixed;
    top: 0;
    left: 0;
}

#adminPannel ul {
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}

#adminPannel ul li,
#adminPannel ul li a {
    display: inline;
    font-size: 25px;
    padding: 20px 8px 20px 8px;
    color: whitesmoke;
    transition: 0.3s;
}

#adminPannel ul li a:hover,
#adminPannel ul li a:active,
#adminPannel ul li a:focus {
    text-decoration: underline;
    color: white;
}

#greetingAdmin {
    position: fixed;
    left: 30px;
    top: -13px;
}

/* article styling */
.articleMain {
    border-bottom: 1px solid lightgray;
    padding: 8px 8px 30px 0;
}

.article {
    border-bottom: 1px solid lightgray;
    padding: 30px 8px 8px 0;
}

.articleTitle {
    padding: 8px 8px 8px 0;
}

.articleTitle a {
    transition: 0.3s;
}

.articleTitle a span,
.articleTitle span {
    font-size: 35px;
    color: darkred;
}

.articleTitle a small,
.articleTitle small {
    font-size: 15px;
    color: darkgray;
    float: right;
}

.articleTitle a:hover small,
.articleTitle a:focus small,
.articleTitle a:active small {
    color: darkred;
}

.articleTitle a:hover,
.articleTitle a:focus,
.articleTitle a:active {
    color: darkred;
    text-decoration: underline;
    text-decoration-color: darkred;
}

.articleContent {
    font-size: 20px;
}

.articleIntro {
    font-size: 25px;
}

.olderArrow {
    color: black;
    transition: 0.3s;
}

.olderArrow i {
    margin-top: 32px;
}

.olderArrow:active,
.olderArrow:focus,
.olderArrow:hover {
    color: darkred;
}
