{% extends "base.html" %}

{% block content %}
  <h1>Change password</h1>

{% with msgs = get_flashed_messages() %}
    {% for msg in msgs %}
        <h3>{{ msg }}</h3>
    {% endfor %}
{% endwith %}

  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter your username/pwd:<br>
          {{ form.old_pwd }}<br>
          {{ form.new_pwd }}<br>
          {{ form.confirm_pwd }}<br>
      </p>
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}
